* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

#gameBoard {
  display: grid;
  justify-content: center;
  margin: auto;
  grid-template-columns: repeat(var(--numCols), 1fr);
  grid-template-rows: repeat(var(--numRows), 1fr);
  border: 0.1px solid rgb(188, 188, 188);
  width: 181vh;
  height: 80vh;
}

#gameBoard > div {
  border: 0.1px solid rgb(172, 176, 251);
  border-radius: 2px;
}


@keyframes foundFirstPath {
  50% {
    transform: scale(1.05);
    background-color: #ecea65;
  }
}

@keyframes foundShortestPath {
  50% {
    transform: scale(1.05);
    background-color: #43689f;
  }
}
