* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


:root {
  --titleBackground: rgb(62, 60, 80);
  --buttonColor: #d8d8d8;
}

body {
  padding: 0;
  margin: 0;
  border-width: 0px;
  justify-content: center;
  flex-direction: column;
}

.footer,
.hyperlink {
  display: flex;
  justify-content: center;
  color: rgb(211, 211, 211);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(255, 255, 132);
  padding: 10px;
  background-color: var(--titleBackground);
  /* background-color: #25274d; */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--titleBackground);
    padding: 5px;
}

.visualize {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    padding: 5px;
}

#clear-board-button,
#generate-random-walls-button,
#slow-button,
#medium-button,
#fast-button,
#dfsButton,
#bfsButton,
#astarButton,
#greedyBestFirstSearchButton,
#djikstraButton,
#visualizeButton {
  font-weight: 600;
  font-size: 15px;
  border-radius: 2px;
  height: 20px;
  border: 0;
  color: var(--buttonColor);
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#clear-board-button,
#generate-random-walls-button {
  background-color: var(--titleBackground);
}

#slow-button,
#medium-button,
#fast-button {
  background-color: var(--titleBackground);
  /* color: rgb(168, 181, 219) */
}

#dfsButton,
#bfsButton,
#astarButton,
#greedyBestFirstSearchButton,
#djikstraButton {
  background-color: var(--titleBackground);
}

#visualizeButton {
  height: 35px;
  background-color: rgb(124, 91, 255);
  color: rgb(234, 234, 234);
  font-weight: 600;
}


#clear-board-button:hover,
#generate-random-walls-button:hover,
#slow-button:hover,
#medium-button:hover,
#fast-button:hover,
#dfsButton:hover,
#bfsButton:hover,
#astarButton:hover,
#greedyBestFirstSearchButton:hover,
#djikstraButton:hover,
#visualizeButton:hover {
  /* filter: brightness(85%) !important; */
  -webkit-transition: all .4s ease;
  color: rgb(115, 115, 115); 
}



#gameBoard {
  display: grid;
  justify-content: center;
  margin: auto;
  grid-template-columns: repeat(var(--numCols), 1fr);
  grid-template-rows: repeat(var(--numRows), 1fr);
  border: 0.1px solid rgb(188, 188, 188);
  width: 181vh;
  height: 80vh;
}

#gameBoard > div {
  /* border: 0.1px solid rgb(217, 219, 255); */
  display: flex;
  border: 0.1px lightgray;
  /* border-radius: 10px;   */
  border-style: solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: lato;
  font-size: 7px;
  font-weight: 700px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@keyframes foundFirstPath {
  /* background-color: mediumspringgreen; */
  0% {
    transform: scale(0.3);
    background-color: rgba(255, 17, 17, 0.75);
    border-radius: 100%;
    animation-iteration-count: infinite;
    color:rgb(124, 91, 255)
  }

  50% {
    background-color: rgba(255, 0, 76, 0.75);
    animation-iteration-count: infinite;
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 21, 255, 0.75);
    animation-iteration-count: infinite;
  }

  100% {
    transform: scale(1);
    background-color: rgba(124, 91, 255, 0.75);
  }
}


@keyframes flickerGreen {
  /* background-color: mediumspringgreen; */
  0% {
    transform: scale(0.3);
    background-color: rgba(57, 106, 75, 0.75);
    border-radius: 100%;
  }
}

@keyframes foundShortestPath {
  0% {
    transform: scale(1);
    background-color: rgba(65, 255, 172, 0.75);
  }

  50% {
    transform: scale(0.85);
    background-color: rgba(14, 237, 253, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(65, 255, 172, 0.75);
  }
}

@keyframes generateWalls {
  0% {
    transform: scale(0.3);
    background-color: rgba(24, 52, 69, 0.75);
    border-radius: 100%;
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(24, 52, 69, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(24, 52, 69, 0.75);
  }
}

/* @keyframes generateWalls {
  100% {
    /* transform: scale(1.1); */
    /* background-color: rgb(77, 78, 107); */
  /* }
}  */


@keyframes restoreVisualizeButton {
  0% {
    transform: scale(0.3);
    background-color: rgba(91, 255, 211, 0.75);
  }

  50% {
    transform: scale(1.1);
    background-color: rgba(91, 129, 255, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(124, 91, 255, 0.75);
  }
}

@keyframes resetPathAnimation {
  0% {
    transform: scale(1.0);
  }
}

@keyframes resetVisualizeButton {
  0% {
    transform: scale(1.0);
  }
}
